/* @file
 * This file is a custom file that loads all files. Each non-base layer
 * can be disabled.
 *
 * Do not name this file "STARTER.scss". This file should be named
 * yaf.scss. If you used the drush command to generate this subtheme,
 * it should be named for you.
 *
 * This application file (yaf.scss) is where all the partials are
 * imported.
 *
 * Theme styles are categorized using SMACSS standards. They utilize
 * categorization of styles into various categories. Those categories are the
 * following:
 *
 * - Base: CSS reset/normalize plus HTML element styling.
 * - Layout: Macro arrangement of a web page, including any grid systems.
 * - Modules: Dictate minor layout modules or reusable elements.
 * - States: Describe the appearance of a module in various states.
 * - Theme: Specific customizations for your subtheme.
 * For more information about this new Drupal css file standard, please review
 * the following:
 * - https://drupal.org/node/1887922
 * - http://smacss.com/
 */
 
// Make sure the charset is set appropriately
@charset "UTF-8";

// Core
// The following imports bootstrap the theme.
// You may comment out bourbon if you don't want to use its library of mixins.
// The theme will have compilation errors if Foundation is not imported.

// Global Zurb Foundation variables.
@import "vendor/foundation/variables";
// Comment out this import if you don't want to use normalize.
@import "vendor/foundation/normalize";
// Comment out this import below if you are customizing you imports below.
@import "vendor/foundation/foundation";
// Comment out this import if you don't want to use Bourbon, a replacement for Compass mixins.
@import "bourbon";


// Import our mixins early so they can be used by other partials.
// Optional.
//@import "base/mixins";

// Common file is where you place common utility classes to extend or
// parametrics.
// Optional.
@import "base/common";

// Fix for some Drupal CSS quirks (Drupalisms).
@import "base/drupal";

// Styling for elements.
// Optional.
// @import "base/elements";

// Layout
// Each section of the document has it's own partial seperated out to improve
// developer experience. Additionally, grids can be declared in layouts as well.
@import "layout/header";
@import "layout/main";
@import "layout/aside";
@import "layout/footer";

// Modules
// @import "modules/block";
// @import "modules/button";

// States
// @import "states/collapse";

// Themes
// @import "theme/button-light";

// Older IE support
// @import "vendor/ie";

.site-title {
	p {
		font-family: $site-title-font-family;
	  margin-bottom: 0;
	  font-size: $site-title-font-size;
	  a:hover {
	  	color: $primary-color;
	  }
	}
}

h1 {
	margin-bottom: 1rem;
}

h2, h3 {
 	text-transform: $header-text-transform;
 	font-weight: 600;
}

.align-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* FCOE Banner */
#fcoe-banner {
  position: relative;
  height: 58px;
  margin-left: 0px;
  margin-bottom: 0px;
  background: transparent url("../images/banner_bg.png") center top repeat-x; }
  #fcoe-banner h6 {
    margin: 0 0 20px;
    font-family: "MuseoSlab-500", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 43px;
    color: white; 
    &.fcoe {
    	margin-left: -40px;
    }
    &.name {
    	margin-left: 0;
    }
  }
    #fcoe-banner h6 span {
      margin-left: 10px; }
  #fcoe-banner .fcoe-logo {
    width: 70px;
    height: 58px;
    margin: 0 auto;
    background: transparent url("../images/banner_fcoe_logo.png") center center no-repeat; }
    #fcoe-banner .fcoe-logo a {
      display: block;
      width: 70px;
      height: 58px; }


.title-year {
	display: block;
	font-size: rem-calc(20);
}

//Menu block //




//Banner Section //
.hero-text {
	p {
		background: $secondary-color;
		color: #ffffff;
		border: 1px solid;
		border-color: $border-color;
		font-size: rem-calc(20);
		padding: 20px;
	}
}

.yaf-intro {
	border-top: 1px solid #fff;
	padding-top: 20px;
	p {
		line-height: 1.8em;
	}
}


.l-featured {
	margin-bottom: 20px;
}


// Gallery Link //
.gallery-link {
	img {
		border: 1px solid #dddddd;
		padding: 2px;
	}
}





// Main //
main {
	padding-top: 30px;
}

// Sponsorship Section //
.sponsorship-block {
	border-top: 1px solid $border-color;
	padding-top: 10px;
}

// Footer //
.footer {
	section {
    border-top: 1px solid;
	  border-color: $border-color;
	  margin-top: 20px;
	  padding-top: 10px;
	  p {
  	  font-size: rem-calc(12);
	  }
	}
}

//
// Heading overrides
//
aside {
	section {
		border: 1px;
		border-style: solid;
		border-color: $border-color;
		background: #d2d2d2;
		padding: 10px;
		margin-bottom: 10px;
	}
	h2 {
	  font-size: rem-calc(20);
	}
	h3 {
		color: #666666;
		font-size: rem-calc(16);
	}
}

//
// Table Overrides
//

table {
	width: 100%;
	td.active {
		background: none;
	}
}

//
// Field Collections
//

.field-author-field-collection {
	margin: 0 0 20px;
	
}


//
// Quicktabs Registration & Login block
//

.quicktabs-wrapper {
	.item-list {
		ul.quicktabs-tabs {
			margin: 0;
			padding: 0;
			line-height: normal;
			li {
				margin: 0 -5px 0 0;
				padding: 0;
				a {
					color: #ffffff;
					display: inline-block;
					padding: 5px 15px;
					margin-bottom: -1px;
					background-color: $gray-light;
				}
				&.active {
	 				a {
						color: $primary-color;
						background-color: #ffffff;
						border-top: 1px solid $gray-light;
						border-right: 1px solid $gray-light;
						border-left: 1px solid $gray-light;
						border-bottom: 1px solid #ffffff;
					}
				}
			}
		}
	}
	.quicktabs_main {
		background-color: #fff;
		border-top: 1px solid $gray-light;
		border-right: 1px solid $gray-light;
		border-bottom: 1px solid $gray-light;
		border-left: 1px solid $gray-light;
		padding: 10px 10px 0 10px;
	}
}




//
// Registration Form
//

.form-item-field-profile-coordinator-reques-und {
	input {
		margin: 0;
	}
	.description {
		margin: 10px 0 20px;
		padding: 20px;
		background: $primary-color;
		color: #ffffff;
	}
}


//
// Coordinator Request Form

.view-coordinator-request-block {
}

.entitytype-coordinator_account_request-form {
	button#edit-submit {
		margin-top: 25px;
	}
}


.field-name-field-ef-coord-schools {
	.tabledrag-toggle-weight-wrapper {
		display: none;
	}
	.field-multiple-drag {
		display: none;
	}
	table th.field-label {
		padding-left: 10px;
	}
}



//
// Registration Button
//

.coordinator-reg {
  padding-bottom: 20px;
  p {
    margin-bottom: 0;
  }
}

a.registration-button {
  background: #0067a6;
  border-bottom: 5px solid #ddd;
  color: #fff;
  display: inline-block;
  line-height: 40px;
  padding: 0 17px;
  text-align: center;
  margin-top: 10px;
}

//
// Video Button
//

a.video-button {
	background-color: #0067a6;
	display: inline-block;
	padding: 5px 11px 6px;
	color: #ffffff;
	font-size: .95rem;
	margin: 10px 0;
	border-bottom: 5px solid #dddddd;
	img {
		margin: -0.7rem 0.5rem -0.5rem -0.25rem;
	}
}





/***********Guidelines*************/
.section-guidelines {
	.body {
		h2 {
			margin-top: 2rem;
			&.first {
				margin-top: 0.2rem;	
			}
		}
		ul {
			margin-left: 2.5rem;
		}

	}
}

.checks-payable {
	margin-left: 1rem;
	font-weight: 700;
	line-height: 1.3rem;
}

/************Timeline**************/

/* Timeline Container */

ol.timeline {
  list-style: none;
  margin-left: 10px;
}
.timeline {
	position: relative;


/* Individual Timeline Item */
	.tl-item {
		padding-left: 1em;
		margin-bottom: 0;
		padding-bottom: 10px;
		position: relative;
		border-left: 3px solid $gray-light;
		&.page-view {
			padding-left: 2em;
			padding-bottom: 2em;
			p {
				padding-top: .5em;
				padding-bottom: .25em;
				&.due-date {
					font-style: italic;
					font-weight: 700;
					.due-label {
						text-transform: uppercase;
						padding-right: .5em;
					}
				}
			}
			ol {
				padding-top: .5em;
			}
		}
		&.last {
			border-left: 0;
			margin-left: 3px;
		}
		h2 {
	  	line-height: 25px;
	  	margin: 0;
	  	&:before {
			content: "";
			position: absolute;
			top: 0;
			left: -0.8em;
			width: 35px;
			height: 35px;
			border-radius: 20px;
			background: #fff;
			border: 5px solid $gray-light;
	  	}
	  }
	  h3 {
	  	line-height: 19px;
	  	margin: 0;
	  	font-weight: 700;
	  	&:before {
			content: "";
			position: absolute;
			top: 0;
			left: -0.6em;
			width: 20px;
			height: 20px;
			border-radius: 20px;
			background: #fff;
			border: 3px solid $gray-light;
	  	}
	  }


		p {
			padding: 0 0 10px 0;
			margin-bottom: 0;
			
		}	
	}
}

/************End Timeline**************/

/* Document List */
.view-document-list {
	.views-row {
		border-top: 1px dashed #ccc;
		padding: 5px 0;
	}
	.doc-details {
		padding-left: 0;
	}
	a.document-download {
    text-indent: -9999px;
	  white-space: nowrap;
    overflow: hidden;
	  cursor: pointer;
	  background: url("/sites/all/themes/yaf/images/download-document-red.png") 0 0 no-repeat;
	  width: 32px;
	  height: 38px;
	  display: block;
	  margin-top: 10px;
	  &:hover {
	  	background: url("/sites/all/themes/yaf/images/download-document-red-dark.png") 0 0 no-repeat;
	  }
	}
}


//
// Book
//
.node-book-form {
	#edit-field-fc-author {
		.tabledrag-toggle-weight-wrapper {
		display: none;
	  }
	  table {
	  	.field-multiple-drag {
	  	display: none;
	  	}
	  	.form-wrapper {
	  	display: inline-block;
	  	}
	  	.field-widget-text-textfield {
	  	width: 30%;
	  	margin-right: 10px;
	  	}
	  	.field-name-field-fc-author-ppa {
	  		input {
	  		margin: 0;
	  		}
	  	}
		}
	}
	#edit-actions {
		margin-top: 50px;
		button#edit-submit {
			background-color: $success-color;
		}
		button#edit-delete {
			background-color: $primary-color;
		}
  }
}

.node-type-book {
	.node-book {
		.field {
			margin-bottom: 15px;
		}
		button#edit-submit {
			display: none;
		}
		.view-authors-field-collection-view{
			margin-top: 10px;
		}
		.views-field-field-ppa-submitted {
			label {
				display: none;
			}
			.form-actions{
				display: none;
			}
			select.form-select {
				margin: 0;
			}
		}
	}
}

.view-id-coordinator_book_list {
	.views-table {
		margin-bottom: 1.8rem;
		caption {
			text-align: left;
			margin-bottom: 7px;
		}
		tr {
			.views-field-title {
				width: 40%;
			}
			.views-field-field-book-teacher {
				width: 40%;
			}
			.views-field-field-grade-level {
				width: 20%;
			}
		}
	}
}


// Photo Gallery //
.view-photo-gallery {
	li {
		margin-bottom: 10px;
	}
}



// Admin List of Books //
.view-admin-list-of-books {
	.view-grouping {
		padding-bottom: 20px;
		margin-bottom: 50px;
		border-bottom: 5px solid;
	}
	h3 {
		text-align: left;
	}
	.views-field-title {
		width: 50%;
	}
}


// Honorable Mention //
.honorable_mention {
	border-bottom: 1px solid $gray-light;
}








// Media Queries //

@media #{$small-up} {
  .hero-text {
		position: relative;
		bottom: 0;
		right: 0;
		padding: 0;
		p {
			margin-left: 0;
		}
	}
	.event-info {
		text-align: left;
		font-size: rem-calc(14);
		margin-bottom: 20px;
	}

}

@media #{$medium-up} {
	.event-info {
	text-align: right;
	font-weight: 700;
	  .event-date {
		  display: block;
		  padding-top: 10px;
		  font-size: rem-calc(18);
	  }
  }
  nav {
		padding-top: 10px;
		ul.inline-list {
			background-color: $secondary-color;
			margin: 0 auto;
			font-size: 0;
			li {
				list-style: none;
				display: inline-block;
				margin: 0;
				font-size: .8rem;
				line-height: 45px;
				a {
					color: #ffffff;
					background-color: $secondary-color;
					padding: 0 22px;
					display: block;
					margin: 0;
					&.active {
						text-decoration: underline;
					}
				}
			}
		}
  }
}


@media #{$medium-only} {
	#fcoe-banner {
		h6 {
			font-size: 0.75rem;
			margin: 0;
			&.fcoe {
				margin-left: -20px;
			}
			&.name {
				margin-left: -20px;
			}
		}
	}
}



@media #{$large-up} {
  .hero-text {
	position: absolute;
	bottom: -20px;
	right: 30px;
	  p {
		  margin-left: 350px;
		  zoom: 1;
			filter: alpha(opacity=90);
			opacity: 0.90;
	  }
  }
  .site-title {
  	p {
  		font-size: rem-calc(42);
  	}
  }
	nav {
		ul.inline-list {
			margin: 0 auto;
			li {
				font-size: 1rem;
				a {
					padding: 0 46px;
					}
				}
			}
	}
}



@media print {
	a {
		text-decoration: none;
	}
	#fcoe-banner {
		h6 {
			margin: 0;
			padding: 0;
		}
	}
	h2 {
		font-size: rem-calc(22);
	}
	.block-system-main-menu {
		display: none;
	}
	ul.button-group {
		display: none;
	}
	.site-title {
		a[href]:after {
			content: none;
		}
	}
}

